*{
box-sizing:border-box;
font-family:'Arial',sans-serif;
}


body{

margin:0;
background:#fff5fa;
color:#333;
text-align:center;

}



header{

padding:40px 20px;
background:#ffd6e8;

}



.profile{

width:140px;
height:140px;
border-radius:50%;
object-fit:cover;

}



h1{

font-size:40px;
color:#b02a68;

}



h2{

color:#b02a68;
font-size:30px;

}



.button{

display:inline-block;
background:#b02a68;
color:white;
padding:15px 30px;
border-radius:30px;
text-decoration:none;
margin-top:15px;

}



section{

padding:40px 20px;

}



.cards{

display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;

}



.card{

background:white;
padding:25px;
width:250px;
border-radius:20px;
box-shadow:0 5px 15px #ddd;

}



.gallery{

display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;

}



.gallery img{

width:250px;
height:300px;
object-fit:cover;
border-radius:20px;

}



.booking{

background:#ffe6f0;

}



footer{

background:#b02a68;
color:white;
padding:20px;

}



@media(max-width:600px){

h1{
font-size:30px;
}


.gallery img{

width:90%;

}

}
